

body {
    background-color: #C7B299 !important;
    font-family: century Gothic;
   
}


header nav ul {
	display: flex;
	justify-content: space-between;
}

header nav ul li {
	list-style: none;
	color: white;

}

header nav ul li a {
	text-decoration: none;
	font-size: 19px !important;



}

.divCorazon{
    /* display: flex; */
    /* align-items: center; */
    height: 1rem;
  }

header h1 {
	color: white;
	font-size: 7rem;
	text-align: center;
		margin-left: 10px;
	/* margin-bottom: 50px;	 */
}
  

header h2{
	color: white;
	font-size: 1.9rem;
	margin-left: 14rem;
	margin-top: 150px;
}

.corazonSonriente{
   
	height: 17rem;
   /* border: 1px solid green; */
   margin-top: 50px;
   margin-left: 230px;
   margin-right: 10px;
 }

header p {
	font-size: 1rem;
	text-align: center;
	font-weight: bold;
	margin-top: 400px;
	
  }
  

  #habitos h3{
	text-align: center;
	font-size: 50px;
  }

  #habitos p{
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
  }

  #habitos ul li {
	font-weight: bold;
	color: white;
	background-color: #544F44;
	padding: 1rem;
	list-style: none;
  }
  


  .divHabitos{
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* border: 1px solid green; */
	margin-right: 100px;
  }
  
.bigApple {

		height: 15rem;
	  margin-left: 14rem;
	  /* border: 5px solid green; */
	  margin-top: 50px;
	  }


.zanamun{
		height: 15rem;
		/* border: 2px solid green; */
		margin-left: 300px;
		/* background-color: aqua; */
	  }
	  


#filosofia h3{
  text-align: center;
  font-size: 2.9rem;
}

.gotovich{
	height: 15rem;
	margin-left: 270px;
  }
  


#filosofia p {
	text-align: center;
	 font-size: 1rem;
	 font-weight: bold;
	 /* border: 1px solid green; */

   }

   .video-home iframe{
	/* padding-top: 10rem ;
	border: 10px solid green; */
	padding-top: 1rem;
	width: 100%;
	height: 400px;
	border: initial;
	}
	
#testimonios h3 {
		text-align: center;
		font-size: 3rem;
	  }
	 
	  
#testimonios p {
	height: 5rem;
	width: 45rem;

   font-size: 0.9rem;
   font-weight: bold;
	background-color: #544F44;
	color: white;
	border: 5px solid #544F44;
	
	
}

.textovich{
		align-items: center;
		/* border: 5px solid red; */
	  }

	  .contacto{
		margin-top: 300px;
	}
	
	.contacto h3{
			margin-top: -250px;
			font-weight: bold;
			 font-size: 55px;
			 text-align: center;
			 height: 1px;
		}
		
		.contacto h2{
			text-transform: uppercase;
			font-size: 50px;
			margin-top: 50px;
	
		}
	
.contacto form {
			background: black;
			/* margin: auto; */
			margin-left: 110px;
			margin-top: 85px;
			margin-bottom: 50px;
			/* width: 800px; */
			width: 500px;
			border: 10px solid rgb(0, 0, 0);
		}
		
		.contacto label{
			font-weight: bold;
			text-transform: uppercase;
			color: white;
		}
		
		input[type=text] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
		}
		
		textarea {
		  width: 100%;
		  height: 300px;
		  padding: 12px 20px;
		  margin: 8px 0;
		  display: inline-block;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  box-sizing: border-box;
		}
		
		.send{
			text-align: center;
		}
		
		.a{
		  width: 100%;
		  background-color: #605959;
		  color: white;
		  padding: 7px 8px;
		  margin: 8px 0;
		  border: none;
		  border-radius: 1px;
		  cursor: pointer;
		  font-size: 20px;
		  text-transform: uppercase;
		  font-weight: bold;
		  text-align: center;
		  text-decoration: none;
		  border-radius: 10px;
		}
	
		.sexo{
			margin-top: 8px;
		}
		
		.mensaje{
			margin-top: 8px;
		}
		
		.quiero{
			text-align: center;
			margin-top: 8px;
			margin-bottom: 8px;
			font-weight: bold;
		}
		
		
	
		footer {
			margin-top: 10px;
			padding: 1rem;
			background-color: #544F44;
			border-radius: 5px;
		   border-style: solid;
		  }
	
		  footer p {
			color: white;
			}
		  
			footer h3 {
			  color: white;
			}
		  